# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Simple Currency Converter/*
!/Simple Currency Converter/task/
/Simple Currency Converter/task/*
!/Simple Currency Converter/task/main.js
